.color-headings {
    color: #212121;
}
.color-primary {
    color: #000000;
}
.color-secondary {
    color: #878787;
}
.bg-highlighted {
    background: #f0f0f0;
}
.color-flipkart-blue {
    color: #027CD5;
}
.bg-optioned {
    background: #f5f5f5;
}
.cursor-pointer {
    cursor: pointer;
}
.text-12 {
    font-size: 12px;
}
.text-14 {
    font-size: 14px;
}
.bold {
    font-weight: bold;
}